
<div class="navbar navbar-fixed-top top-panel">
    <div class="site-icon">
        <div class="site-icon-before">
        </div>
        <a class="pizza-logo" style="text-decoration: none;" href="/index.html">
            <div id="pizza-title2" class="title">
                Pizza
            </div>
            <div class="title" style=" padding-left: 3px">
                KMA
            </div>
        </a>
    </div>

    <div class="discount-icon">
        <div class="discount-icon-before"></div>
        <div class="title2">
            Цього тижня<br> на все
        </div>
        <div class="title">
            -20%
        </div>
    </div>

    <div class="header-top-row">
        <div class="main-header-top-items">
            <div class="main-header-top-item phone-number visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block visible-md-inline-block">
                (044) 222 5 222
            </div>
            <div class="main-header-top-item work-days visible-lg-inline-block visible-md-inline-block">
                24 години/ 7 днів на тиждень
            </div>
            <div class="main-header-top-item delivery visible-lg-inline-block">
                Безкоштовна доставка піци
            </div>
            <div type="button" class="main-header-top-item btn btn-warning sign-in-button">
                Ввійти
            </div>
        </div>
    </div>

    <div class="header-down-row">
        <span class=" pizza-page" style="color:white;">
            <a href="/index.html" style="color:white;" class="hidden-xs">Піца</a> &nbsp;
        </span>
    </div>
</div>