<div class="row" id="pizza_list">
    <div class="name">
        <span style="font-size: 30px;">Усі піци</span>
        <span class="badge"><%= count %></span>
    </div>
    <div class="items">
        <ul class="nav nav-pills all-pizza-type">
            <li role="presentation" class="active pizza-filter-button" id="filter-button-all">
                <a href="#">
                    Усі
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="filter-button-meat">
                <a href="#">
                    Мясні
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="filter-button-pineapples">
                <a href="#">
                    З ананасами
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="filter-button-mushrooms">
                <a href="#">
                    З грибами
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="filter-button-ocean">
                <a href="#">
                    З морепродуктами
                </a>
            </li>
            <li role="presentation" class="pizza-filter-button" id="filter-button-tomato">
                <a href="#">
                    Вега
                </a>
            </li>
        </ul>
    </div>
</div>